# MacOS
**/.DS_Store

# VS Code
# .vscode/

# LaTeX
**/*.aux
**/*.bbl
**/*.blg
**/*.idx
**/*.ind
**/*.lof
**/*.lot
**/*.out
**/*.toc
**/*.acn
**/*.acr
**/*.alg
**/*.glg
**/*.glo
**/*.gls
**/*.fls
**/*.log
**/*.fdb_latexmk
**/*.snm
**/*.synctex(busy)
**/*.synctex.gz(busy)
**/*.na

# LaTeX sources
syllabus/src/
exams/**/src/
labs/**/src/

# Python
**/__pycache__/
/**/.ipynb_checkpoints/

# Class records
records/
**/submissions/

# Scratch
scratch/
